{% extends 'base.html' %}

{% block content %}
<div class="row">
<div class="col-sm-6 col-md-9">
<div class="thumbnail">
<div class="caption">
<h1>{{instance.title}}</h1>
<p>Pesel:{{instance.personal_number}}</p><br/>
<p>Imię:{{instance.first_name}}</p><br/>
<p>Nazwisko:{{instance.last_name}}</p><br/>
<p>Adres </br>zamieszkania:{{instance.adress}}</p><br/>
<p><a href="{% url 'update' id=instance.id %}" class="btn btn-primary" role="button">Edytuj</a>
<a href="{% url 'delete' id=instance.id %}" class="btn btn-default" role="button">Usuń</a>
</div>
</div>
</div>
</div>
{% endblock content %}
