{% extends 'base.html' %}
{% block content %}
<h1>{{title}} emloyers</h1>
<table class="table table-striped">
 <thead>
   <tr>
        <th>Pesel</th>
          <th>Imię</th>
            <th>Nazwisko</th>
            <th>adres</th>
        </tr>
    </thead>
<tbody>
{% for obj in object_list%}
<tr>
<td><a href ='{%url "detail" id=obj.id%}'>{{obj.personal_number}}</a></td>
<td>{{obj.first_name}}</td>
<td>{{obj.last_name}}</td>
<td>{{obj.adress}}</td>
</tr>
{% endfor %}
</tbody>
</table>
<form method="GET" action="{% url 'create' %}">
{% csrf_token %}
<button type="submit" class="btn btn-primary btn-block">Dodaj pracownika</button>
</form>
<div class="pagination">
    <span class="step-links">
        {% if object_list.has_previous %}
            <a href="?page={{ object_list.previous_page_number }}">Poprzednia</a>
        {% endif %}

        <span class="current">
            Strona {{ object_list.number }} z {{ object_list.paginator.num_pages }}.
        </span>

        {% if object_list.has_next %}
            <a href="?page={{ object_list.next_page_number }}">Następna</a>
        {% endif %}
    </span>
</div>
{% endblock content %}
</body>
</html>
</table>
